favicon                 ICON            imagens\icone.ico
Icone                   ICON            imagens\icone.ico

fornecedores            GIF             imagens\fornecedores.gif
img_cancela             GIF             imagens\img_cancela.gif
img_ok                  GIF             imagens\img_ok.gif
adicionar               GIF             imagens\adicionar.gif
acessos                 GIF             imagens\acessos.gif
compor                  GIF             imagens\compor.gif
cadastrar_cliente       GIF             imagens\cadastrar_cliente.gif
excluir_item            GIF             imagens\excluir_item.gif
fechamento              GIF             imagens\fechamento.gif
img_zip                 GIF             imagens\img_zip.gif
incluir                 GIF             imagens\incluir.gif
sair_programa           GIF             imagens\sair_programa.gif
produtos                GIF             imagens\produtos.gif
clientes                GIF             imagens\clientes.gif
balcao                  GIF             imagens\balcao.gif
mesas                   GIF             imagens\mesas.gif
delivery                GIF             imagens\delivery.gif
sair                    GIF             imagens\sair.gif
atualizar               GIF             imagens\atualizar.gif
alterar                 GIF             imagens\alterar.gif
imprimir                GIF             imagens\imprimir.gif
excluir                 GIF             imagens\excluir.gif
suporte                 GIF             imagens\suporte.gif
img_subcategorias       GIF             imagens\img_subcategorias.gif
img_tamanhos            GIF             imagens\img_tamanhos.gif
img_tres                GIF             imagens\img_tres.gif
img_voltar              GIF             imagens\img_voltar.gif
img_sair                GIF             imagens\img_sair.gif
img_salvar              GIF             imagens\img_salvar.gif
img_situacao            GIF             imagens\img_situacao.gif
img_prevda              GIF             imagens\img_prevda.gif
img_promocoes           GIF             imagens\img_promocoes.gif
img_quatro              GIF             imagens\img_quatro.gif
img_reajustar           GIF             imagens\img_reajustar.gif
img_relatorio           GIF             imagens\img_relatorio.gif
img_relatorios          GIF             imagens\img_relatorios.gif
img_rpromo              GIF             imagens\img_rpromo.gif
img_mov_caixa           GIF             imagens\img_mov_caixa.gif
img_obs                 GIF             imagens\img_obs.gif
img_operadores          GIF             imagens\img_operadores.gif
img_pagar_receber       GIF             imagens\img_pagar_receber.gif
img_pedido              GIF             imagens\img_pedido.gif
img_impostos            GIF             imagens\img_impostos.gif
img_materia_prima       GIF             imagens\img_materia_prima.gif
img_medidas             GIF             imagens\img_medidas.gif
img_mesas               GIF             imagens\img_mesas.gif
img_motent              GIF             imagens\img_motent.gif
img_motoboys            GIF             imagens\img_motoboys.gif
img_mov_bancaria        GIF             imagens\img_mov_bancaria.gif
img_formas_recebimento  GIF             imagens\img_formas_recebimento.gif
img_fornecedores        GIF             imagens\img_fornecedores.gif
img_gravar              GIF             imagens\img_gravar.gif
img_grupo_fornecedores  GIF             imagens\img_grupo_fornecedores.gif
img_historico           GIF             imagens\img_historico.gif
img_hum                 GIF             imagens\img_hum.gif
img_dois                GIF             imagens\img_dois.gif
img_filtro              GIF             imagens\img_filtro.gif
img_formas_pagamento    GIF             imagens\img_formas_pagamento.gif
img_contas_bancarias    GIF             imagens\img_contas_bancarias.gif
img_destino             GIF             imagens\img_destino.gif
img_cinco               GIF             imagens\img_cinco.gif
img_comissoes           GIF             imagens\img_comissoes.gif
img_compras             GIF             imagens\img_compras.gif
img_cadastro            GIF             imagens\img_cadastro.gif
img_categorias          GIF             imagens\img_categorias.gif
img_backup              GIF             imagens\img_backup.gif
img_borda               GIF             imagens\img_borda.gif
img_aplicar             GIF             imagens\img_aplicar.gif
img_atendentes          GIF             imagens\img_atendentes.gif
img_atualiza            GIF             imagens\img_atualiza.gif
bandeira_brasil         JPG             imagens\bandeira_brasil.jpg
wallpaper               JPG             imagens\wallpaper.jpg
logotipo                JPG             imagens\logotipo.jpg
