favicon                 ICON            imagens\icone.ico
Icone                   ICON            imagens\icone.ico

fornecedores            BMP             imagens\fornecedores.bmp
img_cancela             BMP             imagens\img_cancela.bmp
img_ok                  BMP             imagens\img_ok.bmp
adicionar               BMP             imagens\adicionar.bmp
acessos                 BMP             imagens\acessos.bmp
compor                  BMP             imagens\compor.bmp
cadastrar_cliente       BMP             imagens\cadastrar_cliente.bmp
excluir_item            BMP             imagens\excluir_item.bmp
fechamento              BMP             imagens\fechamento.bmp
img_zip                 BMP             imagens\img_zip.bmp
incluir                 BMP             imagens\incluir.bmp
sair_programa           BMP             imagens\sair_programa.bmp
produtos                BMP             imagens\produtos.bmp
clientes                BMP             imagens\clientes.bmp
balcao                  BMP             imagens\balcao.bmp
mesas                   BMP             imagens\mesas.bmp
delivery                BMP             imagens\delivery.bmp
sair                    BMP             imagens\sair.bmp
atualizar               BMP             imagens\atualizar.bmp
alterar                 BMP             imagens\alterar.bmp
imprimir                BMP             imagens\imprimir.bmp
excluir                 BMP             imagens\excluir.bmp
suporte                 BMP             imagens\suporte.bmp
img_subcategorias       BMP             imagens\img_subcategorias.bmp
img_tamanhos            BMP             imagens\img_tamanhos.bmp
img_tres                BMP             imagens\img_tres.bmp
img_voltar              BMP             imagens\img_voltar.bmp
img_sair                BMP             imagens\img_sair.bmp
img_salvar              BMP             imagens\img_salvar.bmp
img_situacao            BMP             imagens\img_situacao.bmp
img_prevda              BMP             imagens\img_prevda.bmp
img_promocoes           BMP             imagens\img_promocoes.bmp
img_quatro              BMP             imagens\img_quatro.bmp
img_reajustar           BMP             imagens\img_reajustar.bmp
img_relatorio           BMP             imagens\img_relatorio.bmp
img_relatorios          BMP             imagens\img_relatorios.bmp
img_rpromo              BMP             imagens\img_rpromo.bmp
img_mov_caixa           BMP             imagens\img_mov_caixa.bmp
img_obs                 BMP             imagens\img_obs.bmp
img_operadores          BMP             imagens\img_operadores.bmp
img_pagar_receber       BMP             imagens\img_pagar_receber.bmp
img_pedido              BMP             imagens\img_pedido.bmp
img_impostos            BMP             imagens\img_impostos.bmp
img_materia_prima       BMP             imagens\img_materia_prima.bmp
img_medidas             BMP             imagens\img_medidas.bmp
img_mesas               BMP             imagens\img_mesas.bmp
img_motent              BMP             imagens\img_motent.bmp
img_motoboys            BMP             imagens\img_motoboys.bmp
img_mov_bancaria        BMP             imagens\img_mov_bancaria.bmp
img_formas_recebimento  BMP             imagens\img_formas_recebimento.bmp
img_fornecedores        BMP             imagens\img_fornecedores.bmp
img_gravar              BMP             imagens\img_gravar.bmp
img_grupo_fornecedores  BMP             imagens\img_grupo_fornecedores.bmp
img_historico           BMP             imagens\img_historico.bmp
img_hum                 BMP             imagens\img_hum.bmp
img_dois                BMP             imagens\img_dois.bmp
img_filtro              BMP             imagens\img_filtro.bmp
img_formas_pagamento    BMP             imagens\img_formas_pagamento.bmp
img_contas_bancarias    BMP             imagens\img_contas_bancarias.bmp
img_destino             BMP             imagens\img_destino.bmp
img_cinco               BMP             imagens\img_cinco.bmp
img_comissoes           BMP             imagens\img_comissoes.bmp
img_compras             BMP             imagens\img_compras.bmp
img_cadastro            BMP             imagens\img_cadastro.bmp
img_categorias          BMP             imagens\img_categorias.bmp
img_backup              BMP             imagens\img_backup.bmp
img_borda               BMP             imagens\img_borda.bmp
img_aplicar             BMP             imagens\img_aplicar.bmp
img_atendentes          BMP             imagens\img_atendentes.bmp
img_atualiza            BMP             imagens\img_atualiza.bmp
bandeira_brasil         JPG             imagens\bandeira_brasil.jpg
wallpaper               JPG             imagens\wallpaper.jpg
logotipo                JPG             imagens\logotipo.jpg
